/**
 * Center transform an element on an axis.
 *
 * position: absolute;
 *
 * @include mix-center;
 * @include mix-center(x);
 * @include mix-center(y);
 * @include mix-center(xy);
 */

@mixin mix-center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
  } @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  } @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}